In [1]:
import pandas as pd, os, json, textwrap, math, statistics, sys, json

In [ ]:
amd_path = '/workspaces/Stock-Market-Prediction/Microstructure/BATS_AMD, 1_7112d.csv'
amd_df = pd.read_csv(amd_path)
amd_df.head()

,time,open,high,low,close,VWAP,Upper Band #1,Lower Band #1,Volume
21055,2025-05-16T20:55:00+01:00,117.070,117.170,117.05,117.050,117.140442,117.512641,116.768243,34611
21056,2025-05-16T20:56:00+01:00,117.035,117.090,116.97,117.090,117.140219,117.511988,116.768451,7496
21057,2025-05-16T20:57:00+01:00,117.080,117.215,117.08,117.165,117.140478,117.508566,116.772390,61332
21058,2025-05-16T20:58:00+01:00,117.170,117.240,117.15,117.180,117.140657,117.508093,116.773220,11247
21059,2025-05-16T20:59:00+01:00,117.170,117.200,117.14,117.170,117.141054,117.506011,116.776096,42815

In [4]:
nvda_df = pd.read_csv('/workspaces/Stock-Market-Prediction/Microstructure/BATS_ASML, 1_066fe.csv')
asml_df = pd.read_csv('/workspaces/Stock-Market-Prediction/Microstructure/BATS_NVDA, 1_bc00d.csv')
nvda_df.head()

,time,open,high,low,close,VWAP,Upper Band #1,Lower Band #1,Volume
0,2025-02-24T14:30:00Z,745.69,745.73,744.08,744.24,744.683333,744.683333,744.683333,1177
1,2025-02-24T14:31:00Z,744.24,744.75,743.50,744.54,744.475496,744.685485,744.265508,1153
2,2025-02-24T14:32:00Z,744.66,746.25,744.48,746.00,745.002036,745.572629,744.431443,2135
3,2025-02-24T14:33:00Z,745.80,745.80,744.90,744.90,745.015468,745.568608,744.462327,325
4,2025-02-24T14:34:00Z,744.83,744.83,744.27,744.83,744.996728,745.541870,744.451586,254